body{
margin:0;
padding: top 50px; 
text-align: center;
}
.profile{
border-radius: 50%;
}
#welcome{
  position: absolute;  
  bottom:0;
 background-color:linear-gradient(#96ccc4 0% #23a5c2 100%);
 display: table;
 width: 100%;
 length:100%; 
}
h1{
font-size: 40px;
font-family: sans-serif;
font-weight: 300px;
}
#name{
font-size:50px ;
font-family: 'Playfair Display', serif cursive;
}
h2{
font-size:30px ;
font-weight: 300;
font-family: monospace;
}
#bio{
 font-family: cursive;  
 padding: 100px; 
}
.line{
    height: 6px;
    background-color: black;
  width: 70px; 
  margin: 8px auto; 
}
.parellex-inner{
    display: table-cell;
    vertical-align: middle;
}
.menu{
  position: fixed;
  background-color: cornsilk;
  top: 0px;
  width:100% ;
  z-index:10 ;
  margin-top: 0px;
}
.links{
  display: inline;
  padding-left: 9px;
  padding-right: 9px;
font-family: fantasy;
font-size: 20px; 
}
#writings{
  text-decoration: underline;
  color:floralwhite;
}
#contacts{
  background-color: blanchedalmond;
}
.contact_1{
  display: inline;
}